@import "reset.css";

/* Style the modal using the :modal pseudo class */
:modal {
  width: 150px;
  height: 150px;
  padding: 10px;

  background-color: #fff;
  border: 5px dotted fuchsia;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
